@model Bai14.Models.SignUp
@{
    ViewBag.Title = "Sucess";
}

<div class="jumbotron alert-success" style="margin-top:5%;">
    <h1>Đăng ký thành công</h1>
    <p>Tài khoản: @Model.Username<br>Email: @Model.ThuDienTu</p>
</div>

