@model List<Bai10.Models.Product>

@{
    ViewBag.Title = "Delete Product";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
@section jquery{
    <script>
        $(function () {
            $("#yes").click(function ()
            {
                var url = $("#delete").data('url');
                $.post(url, function ()
                {
                    location.reload();
                })

            })
        });
    </script>
}
<h2>Delete Product</h2>
<div class="row">
    @foreach (Bai10.Models.Product i in Model)
    {
        <div class="col-md-3">
            <table class="table table-bordered" style="height:337px;">

                <thead>
                    <tr>
                        <th style="background-color:MintCream;text-align:center;">@i.Name</th>
                    </tr>
                </thead>

                <tbody style="text-align:center;vertical-align:central;">
                    <tr>
                        <td>

                            <img src="../Img/@i.UrlImg" class="mx-auto d-block img-thumbnail" style="border:0;" />

                        </td>
                    </tr>
                </tbody>
                <tr>
                    <th style="background-color:MintCream;text-align:center;">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete" id="delete" data-url="@Url.Action("DeleteProduct","Product",new { id = @i.IdPro})">Delete</button>
                    </th>
                </tr>
            </table>
        </div>
    }
</div>

<div class="modal" id="modalDelete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa sản phẩm này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>

