
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="~/ArgumentCal/Index">
    <div>
        Nhap A:<input type="text" />
    </div>
    <div>
        Nhap B:<input type="text" />
    </div>
    <div>
        <input type="radio" value="+"/>Cong &nbsp;
        <input type="radio" value="-" />Tru &nbsp;
        <input type="radio" value="*" />Nhan &nbsp;
        <input type="radio" value="/" />Chia &nbsp;
    </div>
    <div>
        <input type="submit" value="Thuc Hien" />
    </div>
</form>

